# Configuration files
config/shopify_config.php

# Logs
logs/
*.log

# Dependencies
vendor/
node_modules/

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Environment files
.env
.env.*
!.env.example
